@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
