.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  backdrop-filter: blur(18px);
  z-index: 999;
  position: relative;

  > div {
    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 18px;

      min-width: 45px;
      min-height: 45px;

      max-width: 45px;
      max-height: 45px;

      transition: 0.2s ease-in-out;

      &[data-src="true"] {
        color: #16a34a;
        background-color: rgba(22, 163, 74, 0.25);
      }
      &[data-src="false"] {
        border-radius: 50px;
        animation: spin 1s infinite linear;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.chat_container {
  height: calc(100vh - 10.65rem);
  max-height: calc(100vh - 10.65rem);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 1rem 1rem;
  font-size: 1em;

  display: flex;
  flex-direction: column-reverse;

  div {
    word-wrap: break-word;
  }

  span {
    opacity: 0.58;
  }
}

.input_container {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  input,
  button {
    padding: 0.85rem;
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    transition: 0.2s ease-in-out;
    outline: none;
    &:disabled {
      opacity: 0.85;
      cursor: not-allowed;
    }
  }

  > div {
    flex: 1;
    label {
      display: block;
      margin-top: 10px;
      opacity: 0.38;
      font-size: 0.8em;
      position: absolute;
      margin-left: 1rem;
    }
  }

  input {
    width: 100%;
    &:hover {
      background: rgba(255, 255, 255, 0.125);
    }
    &:focus {
      border-color: rgba(255, 255, 255, 0.15);
    }
  }

  button {
    display: flex;
    align-items: center;
    background: rgba(62, 62, 255, 0.9);
    margin-left: 15px;
    cursor: pointer;
    &:hover {
      background: rgba(62, 62, 255, 1);
    }
    i {
      margin-left: 5px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
